{% extends 'pages.html' %}

{% block title %}Профиль пользователя {{ profile.user.get_username }}{% endblock %}

{% block content %}
  <div class="container" style="padding-top:20px;">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Profile of <b>{{ profile.user.get_username }}</b></span>

        <ul>
          <li>ID: {{ profile.user.id }}</li>
          <li>First Name: {{ profile.user.first_name }}</li>
          <li>Last Name: {{ profile.user.last_name }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
