{% extends 'pages.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <div class="container" style="padding-top:20px;>
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card hoverable">
          <form method="post">
            <div class="card-content">
              <span class="card-title">Registration</span>

                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="card-action">
              <button class="btn waves-effect waves-light" type="submit">Sign up</button>
              <a class="btn-flat black-text waves-effect waves-light" href="{% url 'index' %}">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
