{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}Главная{% endblock %} - No Lawyers</title>

  <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/main.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  {% block body %}{% endblock %}

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.min.js" %}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
